@{
    ViewData["Title"] = "Thank You";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <div class="container">
        <h1 class="thank-you-heading">Thank You For Signing Up for OT</h1>
    </div>
</body>
</html>
